<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/userform.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Task-List</h1>
        <span class="login-err">Login Unsuccessful</span>
        <div class="user-input-section">
            <span class="label">Username: <input class="input user" type="text" name="user"></span>
        </div>

        <div class="user-input-section">
            <span class="label">Password: <input class="input password" type="password" name="user"></span>
        </div>

        <button class="btn-login" id="send">Login</button>
    </div>
    <script src="../scripts/login.js"></script>
</body>
</html>