* {
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    margin: 0;
    background-color: #1f12ff;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.task {
    border: #291fe4 0.3px solid;
    border-radius: 5px;
    background-color: rgb(163, 161, 161);
    width: 33.3333333vw;
    text-align: center;
}

.task:hover {
    background-color: #202020;
    color: white;
}

.create-task {
    border-radius: 100px;
    border: none;
    background-color: green;
    color: greenyellow;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 0;
    margin: auto 5px 5px auto;
    right: 0;
    font-size: 40px;
}

.create-task:hover {
    border: #202020 3px solid;
}